* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: orange;
    color: black;
    display: inline-block;
    position: sticky;
}

body {
    background-color: black;
}

.SF2 {
    float: left;
    background-image: url(sf2.webp);
    height: 300px;
    width: 300px;
    border-radius: 58px;
    border: 18px solid orange;
    background-size: cover;
    margin: auto;
}

.SF3 {
    float: right;
    background-image: url(sf3.jpeg);
    width: 300px;
    height: 300px;
    border-radius: 58px;
    border: 18px solid orange;
    background-size: cover;
    margin: auto;
}

.SF4 {
    float: left;
    background-image: url(sf4.jpg);
    height: 300px;
    width: 300px;
    border-radius: 70px;
    border: 18px solid orange;
    background-size: cover;
}

p {
    color: white;
}

.Shadow {
    background-color: orange;
    line-height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    opacity: 0.7;
}

.Play {
    background-color: orange;
    line-height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;

}

#Play {
    color: black;
}